@using Microsoft.AspNetCore.Identity
@using MovieDG.Core.ViewModels.Movies
@using MovieDG.Data.Data.Models
@inject SignInManager<ApplicationUser> SignInManager

@model IEnumerable<MovieViewModel>
<div class="container">
    <div class="row movie-item-row">
        @foreach (var movie in Model)
        {
            <div class="custom-col- grid-item grid-sizer top-rating">
                <div class="movie-item movie-item-two">
                    <div class="movie-poster">
                        <img src="@movie.Poster" alt="">
                        <ul class="overlay-btn">
                            <li>
                                @if (this.User?.Identity?.IsAuthenticated == true)
                                {
                                    <a href="https://www.youtube.com/watch?v=@movie.Trailer" class="popup-video btn">Watch Now</a>
                                }
                                else
                                {
                                    <a asp-area="Identity" asp-page="/Account/Login" class="btn">Watch Now</a>
                                }
                            </li>
                            <li><a asp-action="Details" asp-route-id="@movie.Id" class="btn">Details</a></li>
                        </ul>
                    </div>
                    <div class="movie-content">
                        @if (movie.Title.Length > 21)
                        {
                            string word = movie.Title.Substring(0, 18);
                            string title = word + " ...";
                            <h5 class="title"><a asp-action="Details" asp-route-id="@movie.Id">@title</a></h5>
                        }
                        else
                        {
                            <h5 class="title"><a asp-action="Details" asp-route-id="@movie.Id">@movie.Title</a></h5>
                        }
                        <div class="movie-content-bottom">
                            <ul>
                                <li class="tag">
                                    <a href="#">HD</a>
                                </li>
                                <li>
                                    <span class="like"><i class="fas fa-thumbs-up"></i> @movie.AverageVotes.ToString("F1")</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
