@using MovieDG.Services.Models.Movies
@model MovieDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<section class="movie-details-area" data-background="@Model.Banner">
    <div class="container">
        <div class="row align-items-center position-relative">
            <div class="col-xl-3 col-lg-4">
                <div class="movie-poster">
                    <img src="@Model.Poster" alt="">
                    <a href="https://www.youtube.com/watch?v=@Model.Trailer" class="popup-video"></a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-8">
                <div class="movie-details-content">
                    <h2>The Easy <span>Reach</span></h2>
                    <div class="banner-meta">
                        <ul>
                            <li class="quality">
                                <span>Pg 18</span>
                                <span>hd</span>
                            </li>
                            <li class="category">
                                <a href="#">Romance,</a>
                                <a href="#">Drama</a>
                            </li>
                            <li class="release-time">
                                <span><i class="far fa-calendar-alt"></i> @Model.ReleaseDate.Year</span>
                                <span><i class="far fa-clock"></i> @Model.Runtime min</span>
                            </li>
                        </ul>
                    </div>
                    <p>
                       @Model.Overview
                    </p>
                    <br />
                    <br />
                    <div class="movie-details-prime">        
                            <a href="https://www.youtube.com/watch?v=@Model.Trailer" class="btn popup-video"><i class="fas fa-play"></i> Watch Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>