@using MovieDG.Core.ViewModels.Movies
@using System.Security.Claims;

@model MovieDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<section class="movie-details-area" data-background="/images/movie_details_bg.jpg">
    <div class="container">
        <div class="row align-items-center position-relative">
            <div class="col-xl-3 col-lg-4">
                <div class="movie-poster">
                    <img src="@Model.Poster" alt="">
                </div>
            </div>
            <div class="col-xl-6 col-lg-8">
                <div class="movie-details-content">
                    @{
                        //Maybe have better way
                        var firstPartTitle = Model.Title.Substring(0, Model.Title.Length / 2);
                        var secondPartTitle = Model.Title.Substring(Model.Title.Length - firstPartTitle.Length);
                    }
                    <h2>@firstPartTitle<span>@secondPartTitle</span></h2>
                    <div class="banner-meta">
                        <ul>
                            <li class="quality">
                                <span>hd</span>
                            </li>
                            <li class="category">
                                @foreach (var genre in Model.Genres)
                                {
                                    <a href="#">&nbsp;@genre.Name</a>

                                }
                            </li>
                            <li class="release-time">
                                <span><i class="far fa-calendar-alt"></i> @Model.ReleaseDate.Year</span>
                                <span><i class="far fa-clock"></i> @Model.Runtime min</span>
                            </li>
                        </ul>
                    </div>
                    <p>
                        <b>Description: &nbsp;</b> @Model.Overview
                    </p>
                    <br />
                    <br />
                    <div class="details-content">
                        <p>
                            <b>Actors: &nbsp;</b>@foreach (var actor in Model.Actors)
                            {
                                <a asp-controller="Actors" asp-action="Name" asp-route-name="@actor.Name">&nbsp;@actor.Name (@actor.CharacterName)</a>
                            }
                            <br />
                        </p>
                        <br />
                        <br />
                        <p>
                            <b>Countries: &nbsp;</b>@foreach (var country in Model.Countries)
                            {
                                <a asp-controller="Countries" asp-action="Name" asp-route-name="@country.Name">&nbsp;@country.Name</a>
                            }
                        </p>
                    </div>
                    <br />
                    <br />
                    <div class="movie-details-prime">
                        <form asp-route-movieId="@Model.Id" asp-controller="Movies" asp-action="RemoveFromCollection" method="post">
                            <a href="https://www.youtube.com/watch?v=@Model.Trailer" class="btn popup-video"><i class="fas fa-play"></i> Watch Now</a>
                            <input type="submit" value="Remove Movie" class="btn" />
                            <a asp-controller="Home" asp-action="Index" class="btn">Back To Home</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
