@using MovieDG.Core.ViewModels.Contact

@model ContactViewModel

@{
    this.ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="/css/admin.css" />

<div class="admin-container">
    <partial name="../Shared/_AdminNav.cshtml" />
    <h2 style="text-align: center" class="title">@this.ViewData["Title"]</h2>
    <br />
    <br />
    <br />

        <div class="col-xl-8 col-lg-7 ml-auto mr-auto">
            <div class="contact-form-wrap">
            <div class="contact-form">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <input asp-for="@Model.Name" type="text" disabled>
                    </div>
                    <div class="col-md-6">
                        <input asp-for="@Model.Email" type="email" disabled>
                    </div>
                </div>
                <input asp-for="@Model.Subject" type="text" disabled>
                <textarea asp-for="@Model.Message" name="message" disabled></textarea>
                <form method="post" asp-action="Delete" asp-route-id="@Model.Id">
                    <button class="btn delete">Delete Question></button>
                    <a asp-controller="Contact" asp-action="Reply" asp-route-id="@Model.Id" class="btn">Reply</a>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $(".delete").click(function (e) {
                e.preventDefault();
                swal({
                    title: "Are you sure?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            $("form").submit();
                            swal("The question has been deleted", {
                                icon: "success",
                            });
                            e.delete();
                        }
                    });
            });
        });

    </script>
}