@using MovieDG.Core.ViewModels.Contact

@model ReplyMessageViewModel

@{
	this.ViewData["Title"] = "Reply Message";
}

<link rel="stylesheet" href="/css/admin.css" />

<div class="admin-container">
    <partial name="../Shared/_AdminNav.cshtml" />
    <h2 style="text-align: center" class="title">@this.ViewData["Title"]</h2>
    <br />
    <br />
    <br />

        <div class="col-xl-8 col-lg-7 ml-auto mr-auto">
            <div class="contact-form-wrap">
            <div class="contact-form">
                <form method="post" asp-action="Reply">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <input asp-for="@Model.Name" type="text">
                        <span asp-validation-for="@Model.Name" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 ml-auto mr-auto">
                            <input asp-for="@Model.AdminEmail" type="text">
                            <span asp-validation-for="@Model.AdminEmail" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 ml-auto mr-auto">
                            <input asp-for="@Model.ToUserEmail" type="text">
                        <span asp-validation-for="@Model.ToUserEmail" class="text-danger"></span>
                    </div>
                     <div class="col-md-6 ml-auto mr-auto">
                         <input asp-for="@Model.Subject" type="text">
                            <span asp-validation-for="@Model.Subject" class="text-danger"></span>
                     </div>
                </div>
                <textarea asp-for="@Model.Message" placeholder="Reply Message..."></textarea>
                <span asp-validation-for="@Model.Message" class="text-danger"></span>
                    <button class="btn">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>