@using MovieDG.Core.ViewModels.Movies
@model HomepageViewModel

@{
    ViewData["Title"] = "Home Page";

    var firstPartTitle = Model.LatestMovie.Title
    .Substring(0, Model.LatestMovie.Title.Length / 2);
    var secondPartTitle = Model.LatestMovie.Title
    .Substring(Model.LatestMovie.Title.Length - firstPartTitle.Length);
}

<section class="banner-area banner-bg" data-background="@Model.LatestMovie.Banner">
    <div class="container custom-container">
        <div class="row">
            <div class="col-xl-6 col-lg-8">
                <div class="banner-content">
                    <h2 class="title wow fadeInUp" data-wow-delay=".4s" data-wow-duration="1.8s">@firstPartTitle<span>@secondPartTitle</span></h2>
                    <div class="banner-meta wow fadeInUp" data-wow-delay=".6s" data-wow-duration="1.8s">
                        <ul>
                            <li class="quality">
                                <span>Pg 18</span>
                                <span>hd</span>
                            </li>
                            <li class="category">
                                @foreach (var genre in Model.LatestMovie.Genres)
                                {
                                    <a href="#">&nbsp;@genre.Name</a>
                                }
                            </li>
                            <li class="release-time">
                                <span><i class="far fa-calendar-alt"></i> @Model.LatestMovie.ReleaseDate.Year</span>
                                <span><i class="far fa-clock"></i> @Model.LatestMovie.Runtime min</span>
                            </li>
                        </ul>
                    </div>
                    <a href="https://www.youtube.com/watch?v=@Model.LatestMovie.Trailer" class="banner-btn btn popup-video wow fadeInUp" data-wow-delay=".8s" data-wow-duration="1.8s"><i class="fas fa-play"></i> Watch Now</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ucm-area ucm-bg2" data-background="/images/ucm_bg02.jpg">
    <div class="container">
        <div class="row align-items-end mb-55">
            <div class="col-lg-6">
                <div class="section-title title-style-three text-center text-lg-left">
                    <h2 class="title">New Release Movies</h2>
                </div>
            </div>
        </div>
        <div class="tab-content" id="myTabContent">
                <div class="ucm-active-two owl-carousel">       
                    @foreach (var movie in Model.NewMovies)
                    {
                        <div class="movie-item movie-item-two mb-30">
                            <div class="movie-poster">
                            <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id"><img src="@movie.Poster" alt=""></a>
                            </div>
                            <div class="movie-content">
                            <h5 class="title"><a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id">@movie.Title</a></h5>
                                <span class="rel">Adventure</span>
                                <div class="movie-content-bottom">
                                    <ul>
                                        <li class="tag">
                                            <a href="#">HD</a>
                                            <a href="#">English</a>
                                        </li>
                                        <li>
                                        <span class="like"><i class="fas fa-thumbs-up"></i> @movie.AverageVotes.ToString("F1")</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
            </div>
        </div>
    </div>
</section>
